<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="userDetails">
    <span *ngFor="let user of userDetails">
      <strong class="capitalize">ID :</strong>{{user.UserId}}<br>
      <strong class="capitalize">Name :</strong>{{user.FirstName}}<br>
      <strong class="capitalize">Address :</strong>{{user.LastName}}<br>
      -----------------------------------------------------------------------------------<br>
    </span>
  </div>
</ion-content>